:root {
    --ratio: 1;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
}

a {
    text-decoration: unset;
    color: unset;
}

.root {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-wheel {
    animation: loader-spin 1s infinite linear;
    border: calc(2px * var(--ratio)) solid rgb(70 70 70);
    border-left: calc(2px * var(--ratio)) solid #a6a6a6;
    border-radius: 50%;
    height: calc(50px * var(--ratio));
    width: calc(50px * var(--ratio));
}
@keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.root .logo-box {
    margin: 0 auto;
    margin-top: calc(76px * var(--ratio));
    aspect-ratio: 1 / 1;
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.root .logo-box img {
    position: absolute;
    width: 100%;

}

.root .logo-box .ring {
    animation-duration: 10s;
    animation-name: logo-ring-rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes logo-ring-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.root .logo-box .logo {}

.root .info {
    margin-top: 45px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 125%;
    text-align: center;
    padding: 0px 10px 0px 10px;
    width: calc(100% - 20px);
}

.root .info .title {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.root .info .description {
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 15.6px */
    margin-top: 18px;
    margin-bottom: 18px;
}

.root .info .sns {
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 15.6px */
}

.root .info .sns a {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.root .main {
    margin-top: calc(52px * var(--ratio));
}

.root .main .img-box {
    background-color: #dbdbdb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.root .main .img-box img {
    transition: opacity 500ms;
    opacity: 0;
    width: 100%;
}

.root .main .line {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(20px * var(--ratio));
}

.root .main .vert1 {
    width: fit-content;
    margin-left: calc(20px * var(--ratio));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.root .main .youtube-box {
    width: 100%;
    aspect-ratio: 1920 / 1080;
    background-color: #a0a0a0;
    display: flex;
}

.root .main .youtube-description {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    text-align: center;
    padding: 0px 10px 0px 10px;
    padding-top: 12px;
    padding-bottom: 60px;
}

.root .main .youtube-description .bold1 {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

.root .main .youtube-description .bold2 {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.root .info-bottom {
    margin-top: 52px;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 19.5px */
}

.root .info-bottom .bold {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.root .info-bottom .sns {
    margin-top: 33px;
}

.root .info-bottom .icons {
    max-width: 90px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 28px;
    justify-content: space-between;
}

.root .info-bottom .info {
    margin-top: 28px;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 10.4px */
    letter-spacing: -0.4px;
}

.viewPage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0ms;
    background-color: #000000db;
    backdrop-filter: blur(10px);
}

.viewPage.active {
    opacity: 1;
    z-index: 1;
    transition: opacity 500ms;

}

.viewPage .close-bt {
    position: absolute;
    right: 2vh;
    top: 2vh;
    width: 5vh;
    height: 5vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2vh;
    border-radius: 1vh;
    cursor: pointer;
}

.viewPage .close-bt span {
    width: 4vh;
    height: 0.5vh;
    background-color: black;
    position: absolute;
}

.viewPage .close-bt span:nth-child(1) {
    transform: rotate(-45deg);
}

.viewPage .close-bt span:nth-child(2) {
    transform: rotate(45deg);
}

.viewPage .imgbox {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
}

.viewPage .imgbox img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    padding: 5vw 5vw 5vw 5vw;
    opacity: 0;
    transition: opacity 500ms;
}